# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
venv_rag/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Logs
logs/
*.log

# Data
data/vector_store/
data/uploads/

# OS specific
.DS_Store
Thumbs.db

# Extra ignores
venv_task1/
.coverage
uploads/
qdrant_data/
*.pdf
*.txt
!requirements.txt
!requirements-lock.txt
backups/
